<div >
    <label for="backlogId">backlogId</label>   
    <input [disabled]="true" id="task.backlogId" [(ngModel)]="task.backlogId">
   
    <label for="taskId">taskId</label>
    <input [disabled]="true" type="text" id="task.taskId" [(ngModel)]="task.taskId">
    <label for="title">title</label>
    <input [disabled]="true" type="text" id="task.title" [(ngModel)]="task.title">
    <label for="desc">desc</label>
    <input type="text" id="task.desc" [(ngModel)]="task.desc">
    <label *ngIf="loginService.getRole()" for="userId">Assigned to</label>
    <select *ngIf="loginService.getRole()" id="user" [(ngModel)]="task.userId">
         <ng-container  *ngFor="let u of users">
            <option *ngIf="u.role != 'admin'" value="{{u.userId}}">{{u.userName}}  {{ u.role}}</option>
         </ng-container>
    </select>
    <label for="startDate">startDate</label>
    <input type="date" id="task.startDate" [(ngModel)]="task.startDate">
    <label for="endDate">endDate</label>
    <input type="date" id="task.endDate" [(ngModel)]="task.endDate">
    <label for="priority">priority</label>
    <select id="task.priority" [(ngModel)]="task.priority">
            <option  value="1">high</option>
            <option  value="2">medium</option>
            <option  value="3">low</option>
    </select>
    <label for="status">status</label>
        <select id="task.status" [(ngModel)]="task.status">
            <option  value="to_do">to_do</option>
            <option  value="in_process">in_process</option>
            <option  value="complete">complete</option>
        </select>
    <div class="col-xs-12">
        <button class="btn btn-success" type="submit" (click)="updateTask()">update</button>
        <button class="btn btn-danger" type="submit" (click)="cancel()">cancle</button>
    </div>
</div>